@import '../../styles.sass'
  
.control
  width: 6em

.output-section
  background-color: $white-ter
  border-radius: 5px

.left-section
  border-bottom-left-radius: 10px

.right-section
  border-bottom-right-radius: 10px
