<div class="outer-div">
  <div class="title is-4 has-text-grey-light">Quotation</div>
  <div class="block p-2">
    <p class="has-text-grey-light">Insulation:</p>
    <div *ngIf="inputData?.floorArea > 0 && inputData?.floorSubstrate === 'Concrete'">
      <app-output-line [item]="resultFta"></app-output-line>
    </div>
    <div *ngIf="inputData?.floorSubstrate && inputData?.floorArea > 0">
      <app-output-line [item]="resultBoard"></app-output-line>
    </div>
    <div *ngIf="inputData?.floorArea > 0 && inputData?.floorSubstrate === 'Timber'">
      <app-output-line [item]="resultFs"></app-output-line>
    </div>
    <div *ngIf="inputData?.floorArea > 0 && inputData?.floorSubstrate === 'Timber'">
      <app-output-line [item]="resultMfw"></app-output-line>
    </div>
  </div>
  <div class="block p-2">
    <p class="has-text-grey-light">Heating:</p>
    <div *ngIf="inputData?.heatedArea > 0">
      <app-output-line [item]="resultMesh"></app-output-line>
    </div>
  </div>
</div>
