<p>output-section works!</p>

<!-- <div class="title">Quotation</div>
<div class="output-section block p-2">
  <p class="is-size-">Insulation:</p> -->
  <!-- <h2 *ngIf="inputData?.floorArea > 0">Floor area: {{inputData?.floorArea}}</h2>
  <h2 *ngIf="inputData?.heatedArea > 0">Heated area: {{inputData?.heatedArea}}</h2>
  <h2 *ngIf="inputData?.floorSubstrate?.length > 0">Floor substrate: {{inputData?.floorSubstrate}}</h2> -->
<!-- </div>
<div class="output-section block p-2">
  <p>Heating:</p>
  <div *ngIf="inputData?.heatedArea > 0">
    <app-output-line [mesh]="resultMesh"></app-output-line>
  </div>
</div> -->